.gallery {
    &-title {


        text-align: center;
        font-family: "Roboto Slab";
        font-size: 30px;
        text-transform: uppercase;
        text-decoration: none;
        color: #555252;
        font-weight: 700;
        margin-bottom: 50px;
    }
}
